img {max-width: 300px; height: auto;}
#spacer {display: none;}
.main-header {position: static; width: 320px; margin: 0 auto;}

.middle {width: 320px; margin: 0 auto;}
.main-header,
.main-content {width: 320px; margin: 20px auto;}
.quick-nav {width: 320px; margin: 0 auto;}
.main-footer {width: 280px;}

.main-header h1 {text-align: center; width: 100%;}
.main-header h1 img {display: block; margin: 0 auto;}
.main-header h1.text a {padding: 15px;}

.field label {display: block; float: none; text-align: left;}
.field input {width: 265px;}
.field select {width: 280px;}
textarea {width: 265px; margin-bottom: 20px;}

.product-thumbnails .product,
.range-thumbnails .range {margin-bottom: 10px; margin-right: 0; padding: 20px; padding-right: 0;}
.product-thumbnails .product img,
.range-thumbnails .range img {max-width: 300px; display: inline;}

.single-product .product-text {margin-bottom: 10px;}

.field label {margin-bottom: 0;}
.field + .field {padding-top: 1em;}
.field p.error {margin-bottom: 0;}

.order-wrap .fields th.image,
.order-wrap .fields td.image {padding-left: 0; padding-right: 0; width: 0;}
.order-wrap .fields td.image img {display: none;}
