img {max-width: 460px; height: auto;}

#spacer {display: none;}
.main-header {position: static;}

.middle {width: 480px; margin: 0 auto;}
.main-header,
.main-content {width: 480px; margin: 20px auto;}
.quick-nav {width: 480px; margin: 0 auto;}

.main-footer {width: 440px;}

.main-header h1 {text-align: center; width: 100%;}
.main-header h1 img {display: block; margin: 0 auto;}
.main-header h1.text a {padding: 15px;}

.field label {display: block; float: none; text-align: left;}
.field input {width: 390px;}
.field select {width: 405px;}
textarea {width: 390px; margin-bottom: 20px;}

.product-thumbnails .product,
.range-thumbnails .range {float: left; margin-bottom: 10px; margin-right: 30px; padding: 20px; padding-right: 0; width: 205px;}
.product-thumbnails .product img,
.range-thumbnails .range img {max-width: 205px;}
.product-thumbnails .m2,
.range-thumbnails .m2 {margin: 0;}
.product-thumbnails .m2n,
.range-thumbnails .m2n {clear: both;}

.single-product .product-text {margin-bottom: 10px;}

.field label {margin-bottom: 0;}
.field + .field {padding-top: 1em;}
.field p.error {margin-bottom: 0;}

.single-product .product-images img {max-width: 460px;}
