p {font-size: 1.2em; line-height: 1.6; padding-bottom: 1px;}

#spacer {min-height: 18px; padding: 15px 0;}
.canvas {margin: 0 auto; text-align: left;}

.quick-nav {margin-bottom: 15px;}

.single-product .checkout,
.order-wrap .summary {position: relative; margin-bottom: 64px;}
.single-product .single-variant-checkout {margin-bottom: 0;}
.buttonwrap {position: absolute; left: 0; bottom: -64px;}
.single-variant-checkout .buttonwrap {position: static;}
.single-variant-checkout {width: 270px;}

.button {margin: 0; text-transform: uppercase; width: 270px; padding: 20px 0; line-height: 14px; height: 14px;}

input.button {font-family: inherit; font-size: inherit;}

.main-header {left: 0; overflow: hidden; position: fixed; right: 0; text-align: left; top: 0; width: 100%; z-index: 99;}

.middle {margin: 0 auto; overflow: hidden; display: table;}

.main-header h1 {display: table-cell; font-size: inherit; margin: 0; text-align: left; vertical-align: middle; padding: 15px; padding-left: 20px; overflow: hidden;}
.main-header h1.text {vertical-align: top;}
.main-header h1 a {display: inline-block;}
.main-header h1 img {float: left;}

.main-header a {line-height: 1.5em; text-decoration: none; text-transform: uppercase;}

.global-nav {display: table-cell; vertical-align: middle;}

.global-nav ul {display: inline; list-style-type: none; margin: 0; padding: 0;}
.global-nav a,
.global-nav .grouping {display: inline-block; padding: 15px;}
.global-nav a.basket {padding-right: 0; background-repeat: no-repeat; background-position: 15px center; padding-left: 40px; float: right;}

.global-nav li {display: inline-block; vertical-align: top;}
.global-nav li ul,
.global-nav li li {display: block;}
.global-nav li li a {padding: 7px 15px; font-weight: normal; float: none; display: block;}
.main-header .global-nav li ul {margin-bottom: 8px;}

.ie img {-ms-interpolation-mode: bicubic;}
.ie #spacer {display: none;}
.ie .main-header {position: static;}
.ie .main-header .middle {display: block;}
.ie .main-header h1 {float: left; display: block;}
.ie .main-header .global-nav {display: block; float: none; text-align: left;}

.ie .main-header .global-nav .basket {float: right; background-image: none;}
.ie .main-header .global-nav .basket .items {display: inline;}
.ie .button {height: auto;}
.ie .main-header .global-nav ul {float: left; display: inline;}
.ie .main-header .global-nav li {float: left; display: inline;}
.ie .main-header .global-nav ul ul,
.ie .main-header .global-nav li li {float: none; display: block;}

.main-content {margin: 0 auto; overflow: hidden; margin-top: 20px; text-align: left;}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content p {padding-right: 20px;}
.main-content p img.center {margin-right: -20px;}

.main-content h1, .main-content h2, .main-content h3, .main-content h4 {border-bottom-style: solid; border-bottom-width: 1px; font-size: inherit; margin-bottom: 20px; padding-bottom: 20px; text-transform: uppercase;}

.page-or-view .main-content {padding: 20px; padding-right: 0;}
.basket-order-or-track .main-content {padding: 0;}

.empty-basket {padding: 20px; margin-bottom: -20px;}

.page-or-view .product-thumbnails,
.page-or-view .range-thumbnails {margin-left: -20px;}

.product-thumbnails .product-meta,
.range-thumbnails .range-meta {text-align: left;}
.product-thumbnails h1,
.range-thumbnails h1 {border-bottom: none;}

.pagination {margin-top: 20px;}

.single-product .product-detail,
.single-product .product-text,
.single-product .multi-variant-checkout {padding: 20px 0 20px 20px;}
.single-product .product-detail {margin-bottom: 10px;}

.single-product .product-text > *:last-child {margin-bottom: 0;}

.single-product h1 .product-price {float: right;}
.single-product .product-price {display: block; line-height: normal;}

.product-variants {text-align: left;}
.product-variants ul {margin-bottom: 20px; margin: 0; padding: 0;}
.product-variants li {display: block; list-style-type: none; margin: 0; padding: 0;}
.product-variants label {font-weight: normal;}

.main-footer {margin: 0 auto; overflow: hidden; padding: 20px; text-align: left;}
.utility-nav {width: 100%; overflow: hidden; margin-bottom: 10px;}
.utility-nav li {display: inline-block; vertical-align: top;}
.utility-nav a,
.utility-nav .grouping {text-decoration: none; line-height: 15px; text-transform: uppercase; float: left; padding: 5px 0; padding-right: 15px;}
.utility-nav .grouping {float: none; display: block;}
.utility-nav li ul,
.utility-nav li li {display: block;}
.utility-nav li li a {float: none; display: block;}

.ie .main-footer .utility-nav li {float: left;}
.ie .main-footer .utility-nav li li {float: none;}

table {margin-bottom: 0; padding-bottom: 20px;}
.order-wrap .fields,
.order-wrap .summary {padding: 20px; padding-right: 0;}
.order-wrap .fields {padding-bottom: 0;}
.order-wrap .summary {padding-bottom: 10px;}
.order-wrap .fields thead th {text-transform: uppercase;}
.order-wrap .fields tbody td {height: 36px;}
.order-wrap .summary tr.items td {border-top: none;}
.order-wrap .summary tr.shipping td {padding-top: 0;}
.order-wrap .summary .buttonwrap {margin-top: 0;}
.order-wrap th.amount,
.order-wrap td.amount,
.order-wrap td.update {padding-right: 20px;}
.order-wrap td.image {padding-right: 1em;}

.fieldgroup {margin-bottom: 0;}

div.order-wrap .summary .buttonwrap {margin-bottom: 0;}
div.order-wrap .summary {padding-bottom: 0;}

th, td, .order-wrap .summary h1, .order-wrap .fields h1, .order-wrap .summary p {font-weight: normal; padding: 0.75em 0;}

.order-wrap th,
.order-wrap .fields h1,
.order-wrap .summary h1 {padding-top: 0; padding-bottom: 20px; line-height: 1.2;}

.order-wrap .fields h1 {border-bottom: none; line-height: 1.8; padding-bottom: 1em;}

.order-wrap .fields .errors {border-top: none; padding-top: 0; padding-bottom: 20px; border-bottom: none;}
.order-wrap .summary .status {border-top: none; border-bottom: none; margin-bottom: 0;}

fieldset {border: none; margin-top: 34px; position: relative; padding: 20px; padding-bottom: 0; padding-left: 0; clear: both;}
.fieldgroup-address,
.fieldgroup-message {margin-top: 54px;}
.track-view fieldset {padding-right: 0; margin-top: 54px;}
legend {font-weight: normal; position: absolute; top: -34px; left: 0; text-transform: uppercase; font-size: inherit; display: block; width: 100%; border-bottom-width: 1px; border-bottom-style: solid; padding-bottom: 20px; line-height: 14px; height: 14px;}


