.canvas,
.main-footer {width: 960px;}

.product-thumbnails .product,
.range-thumbnails .range {width: 290px; float: left; padding-top: 15px; border-top-width: 5px; border-top-style: solid; margin-right: 30px; margin-bottom: 30px;}
.product-thumbnails .product img,
.range-thumbnails .range img {max-width: 290px;}
.product-thumbnails .m3,
.range-thumbnails .m3 {margin-right: 0;}
.product-thumbnails .m3n,
.range-thumbnails .m3n {clear: both;}

.single-product,
.order-wrap {overflow: hidden; width: 100%;}
.single-product .product-name {font-size: 2em; margin-bottom:0.75em;}
.single-product .product-images,
.order-wrap .fields {float: left; width: 610px;}
.single-product .product-detail,
.order-wrap .summary {float: right; width: 290px;}

.single-product .product-images img {max-width: 610px;}
