.canvas,
.main-footer {width: 640px;}

.main-header a {padding: 15px 8px;}

.product-thumbnails .product,
.range-thumbnails .range {width: 290px; float: left; padding-top: 15px; border-top-width: 5px; border-top-style: solid; margin-bottom: 30px;}
.product-thumbnails .product img,
.range-thumbnails .range img {max-width: 290px;}
.product-thumbnails .product:nth-child(even),
.range-thumbnails .range:nth-child(even) {margin-left: 30px;}
.product-thumbnails .product:nth-child(odd),
.range-thumbnails .range:nth-child(odd) {clear: both;}

.single-product .product-images,
.order-wrap .fields {margin-bottom: 30px;}

.single-product .product-detail {padding-top: 30px;}
.single-product .product-images img {max-width: 610px}

/*.main-header h1.logo {margin-right: 15px;}
.main-header .global-nav {float: none; text-align: right;}
.main-header .global-nav ul {text-align: right;}*/

.main-header .basket {margin-bottom: 15px;}
.main-header h1.logo img {max-width: 290px; margin-right: 0;}
/*.main-header .global-nav {width: 610px; overflow: hidden; padding-top: 0; margin-bottom: 0; clear: both;}*/
