img {max-width: 460px; height: auto;}

.main-header,
.main-content {width: 480px; margin: 20px auto;}
.page-or-view .main-content {width: 460px;}
.basket-order-or-track .main-content {width: 480px;}
.quick-nav {width: 480px; margin: 0 auto;}

.main-footer {width: 440px;}

.main-header {padding: 20px 0;}
.main-header h1 {font-size: inherit; margin: 0; text-align: center;}
.main-header h1 img {display: block; margin: 0 auto;}
.main-header h1.text a {padding: 15px; line-height: 1.2;}

.global-nav a {display: inline-block;}

.field label {display: block; float: none; text-align: left;}
.field input {width: 425px;}
.field select {width: 440px;}
textarea {width: 425px;}

.product-thumbnails .product,
.range-thumbnails .range {float: left; margin-bottom: 10px; margin-right: 30px; padding: 20px; padding-right: 0; width: 205px;}
.product-thumbnails .product img,
.range-thumbnails .range img {max-width: 205px; display: inline;}
.product-thumbnails .m2,
.range-thumbnails .m2 {margin: 0;}
.product-thumbnails .m2n,
.range-thumbnails .m2n {clear: both;}

.single-product .product-text {margin-bottom: 10px;}

.field label {margin-bottom: 0;}
.field + .field {padding-top: 1em;}
.field p.error {margin-bottom: 0;}

.single-product .product-images img {max-width: 460px;}

.order-wrap .summary {margin-top: 10px;}

.order-wrap .summary {position: relative; margin-bottom: 93px; padding-bottom: 0; margin-top: 10px;}
.order-wrap .buttonwrap {position: absolute; left: 0; bottom: -93px;}

