img {max-width: 300px; height: auto;}

.main-header,
.main-content {width: 320px; margin: 20px auto;}
.page-or-view .main-content {width: 300px;}
.basket-order-or-track .main-content {width: 320px;}

.quick-nav {width: 320px; margin: 0 auto;}

.main-footer {width: 300px;}

.main-header {padding: 20px 0;}
.main-header h1 {font-size: inherit; margin: 0; text-align: center;}
.main-header h1 img {display: block; margin: 0 auto;}
.main-header h1.text a {padding: 15px; line-height: 1.2;}

.global-nav a {display: inline-block;}

.field label {display: block; float: none; text-align: left;}
.field input {width: 265px;}
.field select {width: 280px;}

.product-thumbnails .product {margin-bottom: 10px; padding: 20px; padding-right: 0; width: 300px;}
.product-thumbnails .product img {max-width: 300px;}

.single-product .product-text {margin-bottom: 10px;}

.field label {margin-bottom: 0;}
.field + .field {padding-top: 1em;}
.field p.error {margin-bottom: 0;}
#field_country *:last-child {margin-bottom: 20px;}

.single-product .product-images img {max-width: 460px;}

.order-wrap .summary {margin-top: 10px;}

.order-wrap .summary table {margin-bottom: 0; padding-bottom: 0;}


