body {text-align: left;}

p {font-size: 1.2em; line-height: 1.6; margin:0 0 1.5em; padding-bottom: 1px;}

.single-product .checkout {position: relative; margin-bottom: 73px;}
.single-product .single-variant-checkout {margin-bottom: 0;}
.single-product .buttonwrap {position: absolute; left: 0; bottom: -73px;}
.single-variant-checkout .buttonwrap {position: static;}

.button {margin: 0; text-transform: uppercase; width: 225px; padding: 20px 0; line-height: 23px; height: 23px;}
input.button {font-family: inherit; font-size: inherit;}

.main-header .basket {display: inline-block;}

.main-content {margin: 0 auto; overflow: hidden; margin-top: 20px; text-align: left;}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content p {padding-right: 20px;}
.main-content p img.center {margin-right: -20px;}

.empty-basket {padding: 20px; margin-bottom: -20px;}

.main-content h1, .main-content h2, .main-content h3, .main-content h4 {border-bottom-style: solid; border-bottom-width: 1px; font-size: inherit; margin-bottom: 20px; padding-bottom: 20px; text-transform: uppercase;}

.page-or-view .main-content {padding: 20px; padding-right: 0;}
.basket-order-or-track .main-content {padding: 0;}

.page-or-view .product-thumbnails,
.page-or-view .range-thumbnails {margin-left: -20px;}

.product-thumbnails .product-meta,
.range-thumbnails .range-meta {text-align: left;}
.product-thumbnails .product-listing p:last-child,
.range-thumbnails .range-listing p:last-child {margin-bottom: 0;}
.product-thumbnails h1,
.range-thumbnails h1,
.product-thumbnails h2
.range-thumbnails h2 {border-bottom: none;}

.pagination {margin-top: 20px;}

.single-product .product-detail,
.single-product .product-text,
.single-product .multi-variant-checkout {padding: 20px 0 20px 20px;}

.single-product .product-text,
.single-product .checkout {margin-top: 10px;}

.single-product .product-text >*:last-child {margin-bottom: 0;}

.single-product h1 .product-price {float: right;}
.single-product .product-price {display: block; line-height: normal;}

.product-variants {text-align: left;}
.product-variants ul {margin-bottom: 20px; margin: 0; padding: 0;}
.product-variants li {display: block; list-style-type: none; margin: 0; padding: 0;}
.product-variants label {font-weight: normal;}

.main-footer {margin: 0 auto; overflow: hidden; padding: 20px; text-align: left;}
.utility-nav {width: 100%; overflow: hidden; margin-bottom: 10px;}
.utility-nav li {display: inline-block; vertical-align: top;}
.utility-nav a,
.utility-nav .grouping {text-decoration: none; line-height: 15px; text-transform: uppercase; float: left; padding: 5px 0; padding-right: 15px;}
.utility-nav .grouping {float: none; display: block;}
.utility-nav li ul,
.utility-nav li li {display: block;}
.utility-nav li li a {float: none; display: block;}

.ie .main-footer .utility-nav li {float: left;}
.ie .main-footer .utility-nav li li {float: none;}

table {margin-bottom: 0; padding-bottom: 20px;}
.order-wrap {overflow: hidden; width: 100%;}
.order-wrap .fields table {margin-bottom: 0; padding-bottom: 0;}
.order-wrap .fields,
.order-wrap .summary {padding: 20px; padding-right: 0;}
.order-wrap .fields thead th {text-transform: uppercase;}
.order-wrap .fields tbody td {height: 36px;}
.order-wrap .summary tr.items td {border-top: none;}
.order-wrap .summary tr.shipping td {padding-top: 0;}
.order-wrap th.amount,
.order-wrap td.amount,
.order-wrap td.update {padding-right: 20px;}
.order-wrap td.image {padding-right: 1em;}

.fieldgroup {margin-bottom: 0;}

th, td, .order-wrap .summary h1, .order-wrap .fields h1, .order-wrap .summary p {font-weight: normal; padding: 0.75em 0;}

.order-wrap th,
.order-wrap .fields h1,
.order-wrap .summary h1 {padding-top: 0; padding-bottom: 20px; line-height: 1.2;}

.order-wrap .fields h1 {border-bottom: none; line-height: 1.8; padding-bottom: 1em;}
.order-wrap .fields .errors {border-top: none; padding-top: 0; padding-bottom: 20px; border-bottom: none;}
.order-wrap .summary .status {border-top: none; border-bottom: none; margin-bottom: 0;}

fieldset {border: none; margin-top: 34px; position: relative; padding: 20px; padding-bottom: 0; padding-left: 0; clear: both;}
.fieldgroup-address,
.fieldgroup-message {margin-top: 54px;}
.track-view fieldset {padding-right: 0; margin-top: 54px;}
legend {font-weight: normal; position: absolute; top: -34px; left: 0; text-transform: uppercase; font-size: inherit; display: block; width: 100%; border-bottom-width: 1px; border-bottom-style: solid; padding-bottom: 20px; line-height: 14px; height: 14px;}


.pagination {text-align: left;}
