.canvas {width: 990px; padding-top: 15px;}

img {max-width: 930px; height: auto;}

.product-thumbnails .m4 {margin-right: 0;}
.product-thumbnails .m4n {clear: both;}

.product-images img {max-width: 610px;}

.single-product .product-images,
.order-wrap .fields {float: left; width: 610px;}
.single-product .product-detail,
.order-wrap .summary {float: right; width: 290px;}

