.canvas {width: 320px;}

img {max-width: 290px; height: auto;}

.main-header h1 {text-align: center; padding: 30px 0;}

.main-content {padding: 15px;}

.product-thumbnails .product {width: 290px; margin: 0 auto; margin-bottom: 1.5em; float: none;}
.product-thumbnails .product img {max-width: 290px;}

.single-product .product-images {margin-bottom: 1.5em;}
.single-product .product-images img {max-width: 290px;}

.field {margin-bottom: 1em;}
.field label {display: block; float: none; text-align: left; margin-bottom: 0;}
.field select {width: 255px; float: none;}
.field input {width: 240px; float: none;}
textarea {width: 240px;}

.main-footer {padding: 15px;}

.order-wrap .fields th.image,
.order-wrap .fields td.image {padding-left: 0; padding-right: 0; width: 0;}
.order-wrap .fields td.image img {display: none;}
