.canvas {width: 320px;}

img {max-width: 290px; height: auto;}

.main-header h1 {text-align: center;}

.main-content {padding: 15px;}

.product-thumbnails .product {width: 290px; margin: 0 auto; margin-bottom: 1.5em; float: none;}
.product-thumbnails .product img {max-width: 290px;}

.single-product .product-images {margin-bottom: 1.5em;}
.single-product .product-images img {max-width: 290px;}

.field {margin-bottom: 1em;}
.field label {display: block; float: none; text-align: left; margin-bottom: 0;}
.field select {width: 255px; float: none;}
.field input {width: 240px; float: none;}

.main-footer {padding: 15px;}
