/*p {font-size: 1.2em; line-height: 1.6; padding-bottom: 1px;}*/
.canvas {margin: 0 auto; text-align: left;}

.quick-nav {margin-bottom: 15px;}

.main-header {overflow: visible; width: 100%; display: table; text-align: center;}

.main-header h1 {margin: 0; padding: 30px; display: table-cell; vertical-align: middle; text-align: left;}
.main-header img {margin: 0 auto;}

.global-nav ul a,
.global-nav ul .grouping,
.disable-cart-image .main-header .basket,
.main-header h1.text a {display: block; text-decoration: none; font-size: 12px; line-height: 15px; text-transform: uppercase; padding: 15px;}

.global-nav {display: table-cell; vertical-align: middle; padding: 30px 0;}
.main-header h1.logo a,
.main-header h1.logo img {display: block;}
.main-header h1.text {vertical-align: top;}
.main-header h1.text a {padding: 15px 0;}
.main-header .basket {float: right;}
.global-nav {text-align: right;}
.global-nav ul {display: inline; padding: 0; margin: 0; list-style-type: none;}
.global-nav li {display: inline-block; text-align: left; vertical-align: top;}
.global-nav .grouping {float: none; display: block;}
.global-nav li ul,
.global-nav li li {display: block;}
.global-nav li li a {padding: 7px 15px; font-weight: normal; float: none; display: block;}

.enable-cart-image .global-nav {padding-right: 30px;}
.enable-cart-image .global-nav a {display: inline-block;}
.enable-cart-image .main-header .basket {padding: 0; display: inline-block; text-align: center; float: right; text-decoration: none; display: inline-block; margin-left: 15px; text-transform: uppercase;}
.disable-cart-image .main-header .basket {background-repeat: no-repeat; background-position: left; padding-left: 40px; background-position: 15px center; font-size: 10px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-right: -10px; margin-left: 15px;}

.ie img {-ms-interpolation-mode: bicubic;}
.ie .main-header h1 {float: left; display: block;}
.ie .main-header .global-nav {display: block; float: right; text-align: right;}


.ie .main-header .global-nav ul,
.ie .main-header .global-nav .basket {float: left; display: inline;}
.ie .main-header .global-nav li {float: left; display: inline;}
.ie .main-header .global-nav ul ul,
.ie .main-header .global-nav li li {float: none; display: block;}



.main-content {clear: both; padding: 30px;  margin-top: 15px;}
.products-view .main-content,
.range-permalink .main-content {padding-bottom: 12px;}

.product-thumbnails .product,
.range-thumbnails .range {float: left; margin-right: 30px; width: 210px;}
.product-thumbnails .product img,
.range-thumbnails .range img {max-width: 210px; height: auto;}
.product-thumbnails .product-listing p,
.range-thumbnails .range-listing p {font-size: 1em;}

.single-product, .order-wrap {overflow: hidden; width: 100%;}
.pagination {text-align: left;}

.main-footer {overflow: hidden; text-align: left; padding: 30px;}
.utility-nav {width: 100%; overflow: hidden; margin-bottom: 10px;}
.utility-nav li {display: inline-block; vertical-align: top;}
.utility-nav a,
.utility-nav .grouping {text-decoration: none; line-height: 15px; text-transform: uppercase; float: left; padding: 5px 0; padding-right: 15px;}
.utility-nav .grouping {float: none; display: block;}
.utility-nav li ul,
.utility-nav li li {display: block;}
.utility-nav li li a {float: none; display: block;}

.ie .main-footer .utility-nav li {float: left;}
.ie .main-footer .utility-nav li li {float: none;}

.empty-basket p:last-child {margin-bottom: 0;}

.disable-buy-image input.add, input.checkout, input.order {font-size: 10px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-transform: uppercase; padding: 15px;}
.disable-buy-image input.add {padding-left: 40px; background-repeat: no-repeat; background-position: 15px center;}
